<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Konnex ToI</title>

  <script src="/socket.io/socket.io.js" charset="utf-8"></script>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">

  <script src="/test.js"></script>


</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

     <!-- Sidebar -->
     <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion toggled" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center my-4" href="index.html">
          <div class="sidebar-brand-icon  ">
            <img src="/konnex_IOT.png" width="100" height="100" >
          </div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0" >
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active" >
          <a class="nav-link" href="acceuil.html">
            <i class="fas fa-fw fa-home" ></i>
            <span>Acceuil</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
  
      </ul>
      <!-- End of Sidebar -->
  

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <div-title style="margin-top:5px; margin-left:10px; font-family:sans-serif; font-weight: bold;">Konnex ToI</div-title>

       
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Evan Blondeau</span>
                <img class="img-profile rounded-circle" width="70" height="70" src="logo_smart_camera.png ">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->

          <div class="row">
          <div class="col-xl-6" style="margin-bottom:5px">
          <div class="card shadow " style="box-shadow:0 0.0rem 0.5rem 0 rgba(58, 59, 69, 0.15) !important">
              <div class="card-header d-flex flex-row py-2">
                  <h6 class=" m-0 mr-auto p-2 font-weight-bold text-dark">Connection à une maquette </h6>
                  <button class="btn btn-light" style="width:10px; height:32px;  margin-right:5px;" type="button" onclick="search_maquette()">
                    <i class="fas fa-search fa-sm" style="  width:5px;  right: 7px; bottom: 2px;position: relative;"></i>
                  </button>
              </div>
          <div class="col-xl-12 form-group card-body"  >
              <div class="form-group ">
                  <label for="exampleFormControlSelect1"
                    >Selectionner la maquette</label>
                  <select class="form-control" id="button_multiple" >
                  </select>
                 
                </div>
                <button class="btn btn-blue " style="text-align:center" type="button" onclick="connection()">connection</button> 
          </div>
          </div>
        </div>
        <br> 

        <div class="col-xl-6" >
            <div class="card shadow " style="box-shadow:0 0.0rem 0.5rem 0 rgba(58, 59, 69, 0.15) !important">
                <div class="card-header d-flex flex-row py-2">
                    <h6 class="m-0 mr-auto p-2 font-weight-bold text-dark">Chenillar Multi-maquette</h6>
                    <button class="btn btn-light" style="width:10px; height:32px;  margin-right:5px;" type="button" onclick="enable_multi_maquette()">
                      <i id="bouton_multi" class="fas fa-check fa-sm" style="  width:5px;  right: 7px; bottom: 2px;position: relative;"></i>
                    </button>
                </div>
            <div class="row form-group card-body " >
              <div class="form-group col-xl-6 ">
                <label for="exampleFormControlSelect1"
                  >Selectionner la 1er maquette</label>
                <select class="form-control" id="multi_maquette_1" >
                </select>
               
              </div>
              <div class="form-group col-xl-6">
                <label for="exampleFormControlSelect1"
                  >Selectionner la 2ème maquette</label>
                <select class="form-control" id="multi_maquette_2" >
                </select>
              </div>

              
              <div class="col-xl-12" style="text-align:center;">
              <button class="btn btn-blue "  type="button" onclick="multi_chen()">selectionner</button> 
            </div>
            </div>
            </div>
          </div>

        </div>
          <br> 

        <div id="mes_maquettes">
          
        </div>
        <div id="snackbar" style="background: firebrick;"></div>
        </div>
      
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>N'hésite pas à rentrer dans la lumière. Et surtout Konnex ToI</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
